body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    color:rgb(126, 1, 148);
}
h3{
    color:white;
    background-image:linear-gradient(maroon,green);
}
p{
    color:black ;
    font-size: 25px;
}
.orange-color{
    color:blueviolet;
    background-color: snow;
    
}
.half-width{
width: 50%;
padding-left: 4%;

}
.half-width img{
    width: 80%;
}
.flexible-container{
    display:flex ;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(teal,green);
    padding: 5px 40px;
    border-radius: 10px;
    color:snow;
    font-weight:bold;
}
footer p{
    text-align: center;
}
.experience{
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px green;
}
#bank{
    border-left: 7px magenta;
    border-image: linear-gradient(red,cyan);
    border-image-slice: 1;
}